<%= form_with(model: automobile) do |form| %>
  <% if automobile.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(automobile.errors.count, "error") %> prohibited this automobile from being saved:</h2>

      <ul>
        <% automobile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.number_field :price %>
  </div>

  <div>
    <%= form.label :horse_power, style: "display: block" %>
    <%= form.number_field :horse_power %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
