<p style="color: green"><%= notice %></p>

<%= render @automobile %>

<div>
  <%= link_to "Edit this automobile", edit_automobile_path(@automobile) %> |
  <%= link_to "Back to automobiles", automobiles_path %>

  <%= button_to "Destroy this automobile", @automobile, method: :delete %>
</div>
