<div id="container_ind">
  <% mechanism.indicators.each do |indicator| %>
    <p>

    </p>
    <div class="indicator_box" style="position:relative;">
      <div class="indicator-value" id="<%= "indicator_id_#{indicator.id}" %>" style="position:absolute; left:<%= indicator.x_value %>px;top:<%= indicator.y_value %>px;">
        <%= indicator.values.last %>
      </div>
      <button class="graph-button" id="indicator_btn_<%=indicator.id %>" data-values="<%= indicator.values.last(10) %>"
              data-x-value="<%= indicator.x_value %>" data-y-value="<%= indicator.y_value %>"
      style="
      position:absolute;
      left:<%= indicator.x_value %>px;
        top:<%= indicator.y_value %>px; top:<%= indicator.y_value %>px;
      margin-top: 25px">
        Draw Graph
      </button>
    </div>
  <% end %>
</div>

<div id="<%= dom_id mechanism %>">
  <p>
    <strong>Name:</strong>
    <%= mechanism.name %>
    <%= image_tag url_for(mechanism.mechanism_image) %>
  </p>
</div>


<style>
    #chart {
        position: absolute;
        max-width: 300px;
        max-height: 300px;
        z-index: 1;
    }
</style>